# BDD user
POSTGRES_USER_USER=user
POSTGRES_USER_PASSWORD=password
POSTGRES_USER_DB=user_db
# BDD API
POSTGRES_API_USER=user
POSTGRES_API_PASSWORD=password
POSTGRES_API_DB=api_db

# Ports
PORT_API=8000
PORT_AUTH=8001
PORT_ADMINER=8080
PORT_FRONT=5173
PORT_BDD=5432

# Lien vers les services
VITE_API_GATEWAY_URL=http://localhost:${PORT_API}
VITE_API_AUTH_URL=http://localhost:${PORT_AUTH}

API_AUTH_URL=http://service_auth:${PORT_AUTH}

DATABASE_USER_URL=postgresql://${POSTGRES_USER_USER}:${POSTGRES_USER_PASSWORD}@user_db:${PORT_BDD}/${POSTGRES_USER_DB}
DATABASE_API_URL=postgresql://${POSTGRES_API_USER}:${POSTGRES_API_PASSWORD}@api_db:${PORT_BDD}/${POSTGRES_API_DB}

# Clés d'authentification
SECRET_KEY=your_secret_key
ALGORITHM=HS256
TOKEN_EXPIRE_MINUTES=30
