<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="pico.blue.css">
    </head>
    <body  class='container' >
        <header>
            <h1>Test</h1>
        </header>
        <main>
            <article>  
                <form action="" >   
                    <input type="text" id="pseudo" placeholder="Votre pseudo">
                    <input type="password" id="passeword" placeholder="Votre mot de passe">
                    <input type="submit" value="Connexion">
                </form>
            </article>
        </main>
        <footer>

        </footer>
    </body>
</html>