<!DOCTYPE html>
<html>
    <head>
        <title>Sign-up</title>
        <link rel="stylesheet" href="pico.blue.css">
    </head>
    <body  class='container' >
        <header>
            <h1>Formulaire d'inscription</h1>
        </header>
        <main>
                <form action="">
                    Nom
                    <input type="text" id="name" placeholder="Votre nom">
                    Prénom
                    <input type="text" id="firstname" placeholder="Votre prénom">
                    Pseudo
                    <input type="text" id="pseudo" placeholder="Votre pseudo">
                    Mot de passe
                    <input type="password" id="passeword" placeholder="Votre mot de passe">
                    Confirmation du mot de passe
                    <input type="password" id="passeword" placeholder="Votre mot de passe">
                    <input type="submit" value="Valider">
                </form>
        </main>
        <footer>

        </footer>
    </body>
</html>